@tailwind base;
@tailwind components;
@tailwind utilities;

.Link-navbar::after {
    content: '';
    display: block;
    border-bottom: 0.1rem solid #2196f3;
    transform: scaleX(0);
    transition: 0.2s linear;
  }
  
  .Link-navbar:hover::after {
    transform: scaleX(0.5);
  }
  
  .Link-navbar{
    color: white;
  }
  
  @layer base {
  :root {
        --radius: 0.5rem;
    }
}